@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
  padding: 0;
  margin: 0;
   
  font-family: 'Poppins' sans-serif;
}
.wrapper{
  background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}
.navbar{
  height: 80px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.logo{
  width: 160px;
  height: auto;
  padding: 20px 100px;
   margin-top: -2.2em;
}
.navbar ul{
  float: right;
  margin-right: 20px;
}
.navbar ul li{
  list-style: none;
  margin: 0 8px;
  display: inline-block;
  line-height: 80px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 6px 13px;
  font-family: 'roboto' sans-serif;
  transition: 0.4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
  background: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}
.wrapper .center{
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  user-select: none;
}
.center h1{
  color: #ffffff;;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px  black;
  width: 800px;
  margin-right: 3em;
  text-align: center;
  animation: moveInRight 1s ease-out;
  
}
.wrapper1{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px  black;
  display: flex;
  text-align: center;
  margin-left: 10em;
  animation: moveInLeft 1s ease-out;
}
.wrapper1 .static-txt{
  color: red;
  font-size: 70px;
  font-weight: 400;
  text-shadow: 1px 1px  white;
}
.wrapper1  .dynamic-txt{
margin-left: 15px;
line-height: 90px;
 height: 90px;
 overflow: hidden;
}
.dynamic-txt li{
 position: relative;
list-style: none;
top: 0;
color:white;
font-weight: 100;
text-shadow: 1px 1px  black;
font-size: 50px;
border-radius: 10%;
background:rgba(0, 0, 0, 0.4);
animation: slide 12s  steps(4) infinite;
}
@keyframes slide{
  100%{
    top:-360px;
  }
}
.dynamic-txt li{
position: relative;
}
.dynamic-txt li ::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
background:url("../img/pic.jpg") ;
 background-position: cover;
 max-height: 500px;
 max-width: 500px;
 border-left: 2px solid orangered;
 animation: typing 3s steps(18) infinite;
}
 @keyframes typing{
  40%,
  60%{
    left: calc(95% + 30px);
  }
  100%{
    left: 0;
  }
 }

.center .buttons{
  margin: 35px 350px; 
   
}
 
.buttons{
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: red;
  border: 1px  solid #cc0000;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
  animation: moveInBottom 1s ease-out;
}
@keyframes moveInLeft{
  0%{
      opacity: 0;
      transform: translateX(100px);

  }
  80%{
      transform: translateX(-10px);

  }
  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight{
 0%{
     opacity: 0;
     transform: translateX(-100px);

 }
 80%{
     transform: translateX(10px);

 }
 100%{
   opacity: 1;
   transform: translate(0);
 }
}
@keyframes moveInBottom{
 0%{
     opacity: 0;
     transform: translateY(100px);

 }
 80%{
     transform: translateY(-10px);

 }
 100%{
   opacity: 1;
   transform: translate(0);
 }
}
@keyframes moveInButton{
 0%{
     opacity: 0;
     transform: translateY(30px);

 }
  
 100%{
   opacity: 1;
   transform: translate(0);
 }
}
